Python==3.10.2
Flask
Gunicorn
qgg-utils @ git+https://github.com/p208p2002/qgg-utils.git@576998200d13a252eea6681a437c23e775e9d56e
pke @ git+https://github.com/boudinfl/pke.git@8f1d05dcc52041c9920ba0f9d5231fe6086d12c4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
Django
flashtext==2.7
git+https://github.com/boudinfl/pke.git
transformers==4.28.1
sentencepiece==0.1.95
textwrap3==0.9.2
strsim==0.0.3
sense2vec==2.0.1
ipython-autotime
sentence-transformers==2.2.2
scipy==1.11.4
nltk
# rake-nltk
spacy

